li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li:nth-child(odd) {
    background-color: #e9ecef;
  }
  
  li.done {
    text-decoration: line-through;
    color: #777;
  }

  .delete-button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  